body {
    overflow: hidden;
}

.container {
    height: 100vh;
    padding: 10% 0 0 15%;
    box-sizing: border-box;
}

.container>.title {
    width: fit-content;

}

.container>.title>h1 {
    font-family: 'Anton', Courier, monospace;
    color: var(--primary-color);
    font-size: 3vw;
    margin-bottom: 10px;
}

.container>.title>hr {
    width: 165%;
    height: 2px;
    background-color: var(--primary-color);
    border: none;
    margin-bottom: 40px;
}


.card-container {
    height: 75%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 20px;
}

.card-container::-webkit-scrollbar {
    background-color: var(--bg-color);
    width: 5px;
    height: 8px;
    scroll-padding: 10px;
}

.card-container::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;

}




@media screen and (max-width: 768px) {
    body {
        overflow-y: scroll;
    }

    .container {
        padding: 0;
        height: fit-content;
    }

    .container>.title {
        width: 75%;
        margin: auto;
    }

    .container>.title>h1 {
        font-size: 2rem;
        text-align: center;
    }

    .container>.title>hr {
        width: 100%;
    }

    .card-container {
        margin: 0 auto;
        flex-direction: column;
        gap: 20px;
        height: fit-content;
    }
}